body {
    margin: 0px;
}
/* in this scope,
a : selector(선택자)
{} : declaration(효과, 선언)
color : property(속성)
black : value(속성 값) */

/* CSS Priority
tag selector < class selector < id selector
Among the same kind of selectors, the later one have a higher priority */

/* #active
selector that select a tag that have "active" value in its id property */

/* .saw
selector that select all tag that have "saw" value
in its class property */
a {
    color: blue;
    text-decoration: none;
}
h1 {
    font-size: 45px;
    text-align: center;
    border-bottom: 1px solid gray;
    margin: 0;
    padding: 20px;
}
ol {
    width: 100px;
    margin: 0;
    padding: 20px;
}
#grid {
    display: grid;
    grid-template-columns: 150px 1fr;
    /* 150px 1fr means
    ol tag : 150px, div tag : 1fr */
}
#grid #menu {
    display: grid;
    grid-template-rows: 40px 1fr;

    border-right: 1px solid gray;
}
#grid input {
    margin-left: 10px;
    margin-top: 10px;
    width: 60px;
}
/* #grid ol
Among all ol tags, select the ol tags that parent is #grid */
#grid ol {
    padding-left: 30px;
}
/* #grid #article
select #article that has its parent as #grid */
#grid #article {
    padding-left: 20px;
    padding-right: 20px;
}
#grid #img {
    text-align: center;
}
/* screen width < 600px */
/* media query */
@media (max-width: 600px) {
    #grid {
        display: block;
    }
    #grid #menu {
        border-right: none;
    }
    h1 {
        border-bottom: none;
    }
}